body{
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    color: white
}
.active {
    font-weight:700
}
.nav{
    background-color:rgb(104, 99, 99);
    display:flex;
    justify-content:space-between;
    padding-right:20px;
    align-items:center
}
.nav-links {
    display:flex;
    justify-content:flex-end;
}

li{
    list-style-type: none;
    display:inline;
    margin:auto 10px
}
li a{
    text-decoration:none;
    color:white;
}
.btn{
    background-color:rgb(37, 161, 161);
    box-shadow:3px 3px black
}